/* .login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
  }
  
  .loginTitle {
    font-size: 50px;
  }
  
  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .loginForm > label {
    margin: 10px 0;
  }
  
  .loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  
  .loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  } */


  

  .login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    padding: 50px 0;
  }
  
  .loginTitle {
    font-size: 3em;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  
  .loginForm {
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
  }
  
  .loginForm > label {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .loginInput {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .loginInput:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }
  
  .loginButton {
    cursor: pointer;
    background-color: #ff7f50;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    font-size: 1.2em;
  }
  
  .loginButton:hover {
    background-color: #ff6347;
  }
  
  .loginRegisterButton {
    position: absolute;
    top: 60px; 
    right: 20px;
    background-color: #008080;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .loginRegisterButton:hover {
    background-color: #006666;
  } 
  